.home{
    background: #757F9A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D7DDE8, #757F9A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D7DDE8, #757F9A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   
}
.home h1{
font-family: 'Dancing Script', cursive;
font-style: normal;
font-weight: bold;
font-size: 72px;
line-height: 80px;
}
.explore a{
    padding: 10px 30px;
    border:  #FFC107 1px solid;
    border-radius: 4px;
}
.bg-crisp{
    background:  #FFC107;
}
footer{
    background: #5b615b;
    color: white;
    font-weight: 300;
}

.dropdown-content{
    position: absolute;
    z-index: 1;
    display: none;
}
.show{
 display: block;
}
.rotate{
    transform: rotate(180deg);
}


