body{
   background: #F7F5F5;
}

.facility-nav h1{
    font-family: Dancing Script;
    font-style: normal;
    font-weight: bold;
    line-height: 62px;
}
.facility-nav{
    background: #FFC107;
}
.banner1{
    background-image: url(banner1.png);
    background-size: cover;
    width: 100%;
    height: 415px;
    
}
.services h1{
 font-family: Dancing Script;
  font-style: normal;
font-weight: bold;
font-size: 64px;
line-height: 72px;
}
.facility{
    padding: 92px;
}
.bg-yello{
    background: #FFC107;
}

footer{
    background: #FFC107;
}